/* Your Website Styles */

body{
	background: url("../img/real_cf.png");
	background-repeat: repeat;

}

#clipped{ 
    color: red;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/rusted.png");
    background: -o-linear-gradient(transparent, transparent);
    background-size: 40%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 42% 80%;
    background-repeat: repeat;

}

#clippedH1{
	font-family: 'Black Ops One', cursive;
	font-size: 8.5em;
	color: #999999;
	width: 1000px;

}

#logo img{
  max-width: 500px;
  margin: -75px 0 0 250px;

}

p{
	color: white;

}
/* Show Grid */
.showgrid {
/*	background: url("../img/real_cf.png");
	background-repeat: repeat;*/
}